<!DOCTYPE html>
<html>
<head>
    <title>Help Desk | Admin</title>
    <link rel="stylesheet" href="/css/datatables.min.css">
    <link rel="stylesheet" href="/css/helpdesk.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10">
                <table class="table table-hover" id="request-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Problem</th>
                            <th>Period</th>
                            <th>Computer ID</th>
                            <th>Teacher</th>
                            <th>Next Teacher</th>
                            <th>Priority</th>
                            <th>Time</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% requests.forEach(function(request) { %>
                        <tr <%- (request.resolved ? ' class="success" ' : (request.received ? ' class="info" ' : (request.contacted ? ' class="warning" ' : (request.priority > 7 ? ' class="danger" ' : '')))) %>>
                            <th><%- request.id %></th>
                            <td><%- request.studentName %></td>
                            <td><%- request.problem %></td>
                            <td><%- request.classPeriod %></td>
                            <td><%- request.computerId %></td>
                            <td><%- request.currentTeacher %></td>
                            <td><%- request.nextTeacher %></td>
                            <td class="priority"><%- request.priority %></td>
                            <td><%- (request.createdAt.getMonth() + 1) + '/'
                                + request.createdAt.getDate() + '/'
                                + request.createdAt.getFullYear().toString().substring(2) + ' '
                                + ((request.createdAt.getHours() + 24) % 12 || 12) + ':'
                                + ('0' + request.createdAt.getMinutes()).slice(-2)
                                + ((request.createdAt.getHours() >= 12) ? "PM" : "AM") %></td>
                            <td style="width: 30px;">
                                <div class="dropdown">
                                    <button class="btn btn-default" id="optionsDropdown" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-cog"></span>
                                        Options <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <% if (!request.contacted && !request.received && !request.resolved) { %>
                                        <li><a href="#" class="contact"><span class="glyphicon glyphicon-phone-alt"
                                                                              aria-hidden="true"></span> Mark as
                                                Attempted Contact</a></li>
                                        <% } %>
                                        <% if (!request.resolved && !request.received) { %>
                                        <li><a href="#" class="receive"><span class="glyphicon glyphicon-inbox"
                                                                              aria-hidden="true"></span>
                                                Mark as Received</a></li>
                                        <% } %>
                                        <% if (!request.resolved) { %>
                                        <li><a href="#" class="resolve"><span class="glyphicon glyphicon-check"
                                                                              aria-hidden="true"></span>
                                                Mark as Resolved</a></li>
                                        <li class="divider"></li>
                                        <% } %>
                                        <li><a href="#" class="delete"><span class="glyphicon glyphicon-trash"
                                                                             aria-hidden="true"></span> Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/js/datatables.min.js"></script>
    <script src="/js/helpdesk-admin.js"></script>
</body>
</html>